h1 {
	text-align: left;
	background-color: #CCC;
	color: black;
	font-size: 14px;
	font-weight: bold;
}
.Articles img, .Interviews img {
	float: left;
	margin-right: 10px;
}
.accroche {
	font-style: italic;
	font-size: 12px;
	padding-top: 10px;
	padding-right: 35px;
	text-align: justify;
}
.detail p {
	margin: 10px;
	text-align: justify;
	font-size: 15px;
}
.detail img {
	max-width: 100%;
	max-height: 100%;

}
.x-tab .x-button-icon.mic, .x-button .x-button-icon.x-icon-mask.mic {
	-webkit-mask-image: url('../img/mic.png')
}
.x-tab .x-button-icon.note2, .x-button .x-button-icon.x-icon-mask.note2 {
	-webkit-mask-image: url('../img/note2.png')
}